.aboutMe {
	display: flex;
	flex-direction: column;
	align-items: center;
	font-family: monospace;
	padding: 10px;
	margin: 10px;
	box-shadow: 0px 5px 7px 0px rgba(0, 0, 0, 0.24);
	font-size: 1.5em;
	padding-bottom: 10vh;
}
@media only screen and (max-width: 650px) {
	.aboutMe {
		display: flex;
		align-items: center;
		flex-direction: column;
		font-size: 1rem;
		padding-top: 50px;
	}
}

.aboutMe > img {
	padding-bottom: 10px;
}

.aboutMe__top {
	display: flex;
	background-color: whitesmoke;
	margin: 10px;
	padding: 10px;
	box-shadow: 0px 5px 7px 0px rgba(0, 0, 0, 0.24);
}

.aboutMe__middle {
	display: flex;
	align-items: center;
	flex-direction: column;
	margin: 10px;
	padding: 10px;
}

@media only screen and (max-width: 650px) {
	.aboutMe__middle {
		display: flex;
		font-size: 1rem;
		padding: 10px;
	}
}

.aboutMe__archive {
	display: flex;
	flex-direction: column;
	background-color: whitesmoke;
	padding: 5px;
	margin: 5px;
}

.aboutMe__bottom {
	display: flex;
	background-color: whitesmoke;
	margin: 10px;
	padding: 10px;
	box-shadow: 0px 5px 7px 0px rgba(0, 0, 0, 0.24);
}
