.projects {
	display: flex;
	flex-direction: row;
	justify-content: center;
	align-items: stretch;
	padding-top: 20px;
	border: none;
}

@media only screen and (max-width: 650px) {
	.projects {
		display: flex;
		align-items: center;
		justify-content: center;
		flex-direction: column;
		padding: 5px;
		padding: 10%;
	}
}

.projects__list {
	text-align: left;
}
