.projects {
	display: flex;
	/* flex-direction: row; */
	justify-content: center;
	align-items: stretch;
	padding-top: 1vh;
	padding-bottom: 10vh;
	border: none;
}

@media only screen and (max-width: 650px) {
	.projects {
		align-items: center;
		justify-content: center;
		flex-direction: column;
		padding: 5px;
		padding-top: 5vh;
		padding-bottom: 5vh;
		margin-bottom: 10px;
		text-align: center;
	}
}

.projects__list {
	text-align: left;
	font-size: 0.8rem;
	font-weight: bold;
}

@media only screen and (max-width: 650px) {
	.projects__list {
		margin-left: 15px;
	}
}

.ant-card-body {
	padding: 1px;
	margin: 0;
}
@media only screen and (max-width: 650px) {
	.ant-card-body {
		margin: 15px;
	}
}

/* .ant-card {
	border: 0.5px solid black;
} */

.MuiSvgIcon-root {
	color: black;
}
